_site/404.html
_site/feed.xml
_site/index.html
_site/robots.txt
_site/sitemap.xml
_site/about/index.html
_site/assets/css/main.css
_site/assets/images/20200730_092824.jpg
_site/assets/images/20201023_160712.jpg
_site/assets/images/20220410_064342.jpg
_site/assets/images/20220811_121054.jpg
_site/assets/images/20220812_053819.jpg
_site/assets/images/20230827_122232.jpg
_site/assets/images/agathe-0Izsy1Uy308-unsplash.jpg
_site/assets/images/amber-flowers-hahyMPtfgZ4-unsplash.jpg
_site/assets/images/chris-lawton-3Ik7xWYJv3U-unsplash.jpg
_site/assets/images/data pipeline.png
_site/assets/images/forecast_results.jpg
_site/assets/images/headshot2_bw.jpg
_site/assets/images/IaC.png
_site/assets/images/lukasz-rawa-IVJiTrJfNjA-unsplash.jpg
_site/assets/images/MMM1.jpg
_site/assets/images/MMM2.jpg
_site/assets/images/MMM3.jpg
_site/assets/images/MMM4.jpg
_site/assets/images/MMM5.jpg
_site/assets/images/MMM6.jpg
_site/assets/images/MMM7.jpg
_site/assets/images/MMM8.jpg
_site/assets/images/MMM9.jpg
_site/assets/images/MMM10.jpg
_site/assets/images/sample alert.jpg
_site/assets/js/_main.js
_site/assets/js/lunr/lunr-en.js
_site/assets/js/lunr/lunr-gr.js
_site/assets/js/lunr/lunr-store.js
_site/assets/js/plugins/gumshoe.js
_site/assets/js/plugins/jquery.ba-throttle-debounce.js
_site/assets/js/plugins/jquery.fitvids.js
_site/assets/js/plugins/jquery.greedy-navigation.js
_site/assets/js/plugins/jquery.magnific-popup.js
_site/assets/js/plugins/smooth-scroll.js
_site/assets/js/vendor/jquery/jquery-3.6.0.js
_site/assets/timeseries/00 - holiday_calendar.py
_site/assets/timeseries/0 - ingest_data.py
_site/assets/timeseries/1 - clean_data.py
_site/assets/timeseries/2 - preproc.py
_site/assets/timeseries/3 - create_vars.py
_site/assets/timeseries/4 - restruc_cat.py
_site/assets/timeseries/5 - restruc_cnt.py
_site/assets/timeseries/6 - split_sample.py
_site/assets/timeseries/7 - create_model.py
_site/assets/timeseries/8 - grid_search.py
_site/assets/timeseries/9 - forecasts.py
_site/assets/timeseries/10 - hist_predict.py
_site/assets/timeseries/11 - rel_imp.py
_site/portfolio/index.html
_site/portfolio/datawarehouse/index.html
_site/portfolio/mediamix/index.html
_site/portfolio/timeseries/index.html
_site/resume/index.html
_site/404.html
_site/feed.xml
_site/index.html
_site/robots.txt
_site/sitemap.xml
_site/about/index.html
_site/assets/css/main.css
_site/assets/js/_main.js
_site/assets/js/lunr/lunr-en.js
_site/assets/js/lunr/lunr-gr.js
_site/assets/js/lunr/lunr-store.js
_site/assets/js/plugins/gumshoe.js
_site/assets/js/plugins/jquery.ba-throttle-debounce.js
_site/assets/js/plugins/jquery.fitvids.js
_site/assets/js/plugins/jquery.greedy-navigation.js
_site/assets/js/plugins/jquery.magnific-popup.js
_site/assets/js/plugins/smooth-scroll.js
_site/assets/js/vendor/jquery/jquery-3.6.0.js
_site/404.html
_site/feed.xml
_site/index.html
_site/robots.txt
_site/sitemap.xml
_site/about/index.html
_site/assets/css/main.css
_site/assets/js/_main.js
_site/assets/js/lunr/lunr-en.js
_site/assets/js/lunr/lunr-gr.js
_site/assets/js/lunr/lunr-store.js
_site/assets/js/plugins/gumshoe.js
_site/assets/js/plugins/jquery.ba-throttle-debounce.js
_site/assets/js/plugins/jquery.fitvids.js
_site/assets/js/plugins/jquery.greedy-navigation.js
_site/assets/js/plugins/jquery.magnific-popup.js
_site/assets/js/plugins/smooth-scroll.js
_site/assets/js/vendor/jquery/jquery-3.6.0.js
